/* Universal styles */
h1{
    font-size: 40;
    font-weight: 900;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

#special, ol{
    font-size: 20px;
    font-weight: 700;
    color: rgba(32, 16, 134, 1);
}

/* Navbar styles */
.navbar{
    background-color: rgba(26, 29, 95, 1);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

.navbar a{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.fas{
    color: white;
}

/* Introductory part styles */
.introduction{
    background: fixed 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 15%;
}

.introductionDetails{
    /* background-color: rgba(240, 241, 236, 1); */
    background-image: linear-gradient(to bottom, rgba(240, 0, 0, 0), rgba(240, 241, 236, 1));
    text-align: center;
    text-transform: uppercase;
    padding-top: 1%;
}

.col{
    padding-top: 5%;
}

.names{
    font-size: 40px;
    font-weight: 900;
    color: rgba(32, 16, 134, 1);
    padding-top: 5%;
}

.description{
    font-size: 25px;
    font-weight: 700;
    color: black;
}

/* ABOUT ME STYLES */
#aboutme {
    padding-top: 2%;
    padding-bottom:10%;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to top, rgba(240, 0, 0, 0) , rgb(222, 231, 188));
}

.aboutme{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    color: rgba(32, 16, 134, 1);
}

#softwareDevelopment, #design, .specialMention{
    width: 65%;
    margin: auto;
}

#design{
    padding-top: 1%;
}

#softwareDevelopment h1, #design h1{
    color: rgba(32, 16, 134, 1);
}

#reducedSize{
    font-size: 25px;
}

#softwareDevelopment p, #design p{
    font-size: 18px;
    font-weight: 500;
    color: rgba(32, 16, 134, 1);
}

/* Education and skills styles */
.educationANDskills{
    padding-bottom: 2%;
    background-image: linear-gradient(to top, rgba(240, 0, 0, 0), rgb(222, 231, 188));
    position: relative;
    z-index: 1;
}

.educationANDskills::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: inherit;
    transform: skew(0, -3.65deg);
    transform-origin: top left;
}

.educationANDskills::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: inherit;
    transform: skew(0, -2deg);
    transform-origin: bottom right;
}

.educationANDskills h1{
    color: rgba(32, 16, 134, 1);
}

.education, .skills{
    width: 65%;
    margin: auto;
}

.education h1{
    text-decoration: underline;
    padding-bottom: 1%;
}

h2{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(32, 16, 134, 1);
}

.education p{
    font-size: 18px;
    font-weight: 500;
}

/* Skills */
.skillset{
    width: 75%;
    margin: auto;
}

.skills h5{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.skills hr{
    padding-bottom: 1%;
}

/* Special mention */
.specialMention{
    padding-top: 3%;
}

.specialMention p{
    font-size: 18px;
    font-weight: 500;
}

.specialMention h1{
    padding-bottom: 1%;
}

/* MY DEVELOPMENT PROCESS STYLES */
#developmentprocess {
    width: 100%;
    background-image: linear-gradient(to top, rgba(240, 0, 0, 0), rgb(222, 231, 188));
    padding-bottom: 5%;
}

.devContent{
    width: 65%;
    margin: auto;
}

#developmentprocess h1{
    color: rgba(32, 16, 134, 1);
    padding-bottom: 1%;
}

#developmentprocess p{
    font-size: 18px;
    font-weight: 500;
}

.projectBirth img, .coding img, .deployment img{
    width: 85%;
    margin-left: 5%;
    height: auto;
    padding-left: 10%;
}

.design img{
    width: 85%;
    margin-left: 5%;
    height: auto;
    padding-left: 10%;
}

.deployment p{
    padding-top: 7%;
}

/* Projects and designs styles */
#projectsAndDesign{
    background-color: rgba(32, 16, 134, 1);
}

.projectsAndDesign{
    width: 65%;
    margin: auto;
}

.projectsAndDesign h1{
    color: white;
    padding-bottom: 5%;
}

.portfolio{
    padding-bottom: 3%;
}

.portfolio img{
    width: 75%;
    margin: auto;
    height: auto;
    padding-bottom: 3%;
    margin-left: 25%;
}

.portfolio h2{
    font-size: 25px;
    font-size: 800;
    color: white;
    padding-bottom: 2%;
}

.portfolio p{
    font-size: 18px;
    font-weight: 500;
    color: white;
}