<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="me-2" href="!#">Kipyegon Kirui Vitalis</a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center mt-2">
                <ul>
                    <li class="navbar-nav">
                        <a class="nav-link" href="!#">Home</a>
                        <a class="nav-link" href="#aboutme">About Me</a>
                        <a class="nav-link" href="#skills">Skills</a>
                        <a class="nav-link" href="#developmentprocess">Development Process</a>
                        <a class="nav-link" href="#projects">Projects</a>
                        <a class="nav-link" href="#designs">Designs</a>
                        <a class="nav-link" href="#contactme">Contact Me</a>
                    </li>
                </ul>

            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->